body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}
.container {
    text-align: center;
}
.auth-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    border: 2px solid #b08e77; /* Dark Nude Beige */
    background-color: #c0a78c; /* Light Nude Beige */
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.auth-button:hover {
    background-color: #e1c1a8;
}